@mixin toCenter {
  justify-self: center;
  align-self: center;
}
#playground {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
  height: 100vh;
}
.topWide {
  grid-area: 1/2/2/4;
  @include toCenter();
}
.bottomWide {
  grid-area: 3/2/4/4;
  @include toCenter();
}
.topLeft {
  grid-area: 1/2/2/3;
  @include toCenter();
}
.topRight {
  grid-area: 1/3/2/4;
  @include toCenter();
}
.bottomLeft {
  grid-area: 3/2/4/3;
  @include toCenter();
}
.bottomRight {
  grid-area: 3/3/4/4;
  @include toCenter();
}
.left {
  grid-area: 1/1/4/2;
  align-self: center;
  justify-self: right;
}
.right {
  grid-area: 1/4/4/5;
  align-self: center;
  justify-self: left;
}
.centerArea {
  grid-area: 2/2/3/4;
  app-bet-form {
    display: flex;
    height: 100%;
  }
}
