<div
  class="playerContainer {{
    isCurrentPlayer && 'active'
  }}"
>
  <div class="diceContainer">
    <app-dice
      class="singleDice"
      *ngFor="let singleDice of dice"
      [color]="player.diceColor"
      [value]="singleDice.value"
      [isVisible]="player.areDiceVisible"
    ></app-dice>
  </div>
  <div class="playerInfo">
    <h2>{{ player.name }}</h2>
    <p>
      <span class="infoTitle"
        >{{"PLAYER_DICE_LEFT" |translate}}
      </span>: {{ player.nbDiceLeft }}
    </p>
    <p *ngIf="player.lastBet$ | async as lastBet">
      <span class="infoTitle">{{"PLAYER_CURRENT_BID" | translate}}: </span>{{ lastBet.diceAmount }}&nbsp;{{
        lastBet.faceValue
      }}
    </p>
  </div>
</div>
