<div class="messageBox">
  <p>
    {{"ENDROUND.RESULT_ANNOUNCE" |translate}} <strong>{{ diceResult.diceAmount }}</strong>
    {{ diceResult.faceValue }}
  </p>
  <p *ngIf="loserName">
    <strong>{{ loserName }}</strong> {{"ENDROUND.LOSE_DICE" | translate}}.
  </p>
  <p *ngIf="winnerName && winnerGetDice">{{ winnerName }} {{"ENDROUND.WIN_DICE" |translate}}.</p>
  <p *ngIf="winnerName && !winnerGetDice && !loserName">
    {{ winnerName }} {{"ENDROUND.HAS_MAX_NB_DICE" | translate}}.
  </p>
  <button class="nextRoundBtn" (click)="onNext()">
    {{"ENDROUND.NEXT_ROUND" |translate}}
  </button>
</div>
