<div class="messageBox">
  <p>
    Il y avait <strong>{{ diceResult.diceAmount }}</strong>
    {{ diceResult.faceValue }}
  </p>
  <p *ngIf="loserName">
    <strong>{{ loserName }}</strong> perd un dé.
  </p>
  <p *ngIf="winnerName && winnerGetDice">{{ winnerName }} récupère un dé.</p>
  <p *ngIf="winnerName && !winnerGetDice && !loserName">
    {{ winnerName }} gagne la manche, mais à déjà le nombre maximal de dés.
  </p>
  <button class="nextRoundBtn" (click)="onNext()">tour suivant</button>
</div>
