<div class="generalsetting">
  <div class="inputContainer">
    <label for="playerName">Nom du joueur</label>
    <input type="text" id="playerName" name="playerName" />
  </div>
  <fieldset>
    <legend>Nombre d'adversaires</legend>
    <div class="inputContainer">
      <input type="radio" name="nbBots" id="oneBot" value="1" />
      <label for="oneBot">1</label>
      <input type="radio" name="nbBots" id="twoBots" value="2" />
      <label for="twoBots">2</label>
      <input type="radio" name="nbBots" id="threeBots" value="3" />
      <label for="threeBots">3</label>
      <input type="radio" name="nbBots" id="fourBots" value="4" />
      <label for="fourBots">4</label>
      <input type="radio" name="nbBots" id="fiveBots" value="5" />
      <label for="fiveBots">5</label>
    </div>
  </fieldset>
  <fieldset>
    <legend>Difficulté</legend>

    <div class="inputContainer">
      <input type="radio" name="difficulty" id="diff-easy" value="1" />
      <label for="diff-easy">Facile</label>
      <input type="radio" name="difficulty" id="diff-medium" value="2" />
      <label for="diff-medium">Moyenne</label>
      <input type="radio" name="difficulty" id="diff-hard" value="3" />
      <label for="diff-hard">Difficile</label>
      <input type="radio" name="difficulty" id="diff-perso" value="0" />
      <label for="diff-perso">Personnamisée</label>
    </div>
  </fieldset>
</div>
