<form [formGroup]="betForm">
  <button
    class="showDiceButton"
    type="button"
    (click)="onShowDice()"
  >
    {{
      (areDiceVisible()
        ? ("BETFORM_HIDE" | translate)
        : ("BETFORM_SHOW" | translate)
      ) |titlecase
    }}
    {{"BETFORM_SHOWDICE_STATIC" | translate}}
  </button>

  <div class="formContainer">
    <div class="inputContainer">
      <label for="diceAmount">{{"BETFORM_AMOUNT" | translate}}</label
      ><button type="button" class="numberBtn" (click)="onIncrementDice()">
        +
      </button>
      <input
        type="number"
        class="numberInput"
        name="diceAmount"
        id="diceAmount"
        value="{{ diceAmount.value }}"
        formControlName="diceAmount"
      />
      <button type="button" class="numberBtn" (click)="onDecrementDice()">
        -
      </button>
    </div>
    <div class="inputContainer">
      <label for="faceValue">{{ "BETFORM_VALUE" | translate }}</label
      ><button type="button" class="numberBtn" (click)="onIncrementFace()">
        +
      </button>
      <input
        type="number"
        class="numberInput"
        name="faceValue"
        id="faceValue"
        value="{{ faceValue.value }}"
        formControlName="faceValue"
      /><button type="button" class="numberBtn" (click)="onDecrementFace()">
        -
      </button>
    </div>
  </div>
  <div class="actionBtnContainer">
    <button type="button" (click)="onbet()" [disabled]="betForm.invalid">
      {{ "BETFORM_BUTTON_BID" | translate }}
    </button>
    <button type="button" (click)="onEndRound('exact')" [disabled]="(betManager.currentBet$ | async)?.diceAmount === 0">
      {{"BETFORM_BUTTON_EXACT" | translate}}
    </button>
    <button type="button" (click)="onEndRound('dudo')" [disabled]="(betManager.currentBet$ | async)?.diceAmount === 0">
      {{"BETFORM_BUTTON_DUDO" |translate}}
    </button>
  </div>
</form>
@if (showAuthModal | async) {
  <app-auth-modal id="authModal"/>
}
