form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-flow: row nowrap;
  .inputContainer {
    align-items: center;
    gap: 4px;
    label {
      font-weight: 600;
    }
  }
  .numberBtn {
    width: fit-content;
  }
  .numberInput {
    width: 25%;
    text-align: center;
    height: 2rem;
    border-radius: 8px;
  }
}
.actionBtnContainer {
  display: flex;
  justify-content: center;
  gap: 4px;
  button {
    font-weight: bold;
  }
}
